# Environment variables
.env
.dev.vars

# Dependency directories
node_modules/

# Wrangler build
.wrangler/
dist/

# Logs
logs
*.log
npm-debug.log*

# Editor files
.vscode/
.idea/
*.sublime-*
.DS_Store 